---
import Layout from '../../layouts/Layout.astro';
import TermsAndConditions from '../../components/TermsAndConditions'
---

<Layout>
    <div class="min-h-screen">
        <TermsAndConditions client:load/>
    </div>
</Layout>