---
import Layout from "../../layouts/Layout.astro";
import ContactHero from "../../components/contact/ContactHero";
import ContactForm from "../../components/contact/ContactForm";
import ContactInfo from "../../components/contact/ContactInfo";
import ContactFAQ from "../../components/contact/ContactFAQ";
import ContactMap from "../../components/contact/ContactMap";
import { ScrollToTop } from "../../components/contact/ScrollToTop";
---

<Layout>
  <main class="min-h-screen">
    <ContactHero client:load />
    <div class="container mx-auto px-4 py-20">
      <div class="grid md:grid-cols-2 gap-12">
        <ContactForm client:load />
        <ContactInfo client:load />
      </div>
    </div>
    <ContactFAQ client:load />
    <ContactMap client:load />
    <ScrollToTop client:load />
  </main>
</Layout>