---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/home/Hero'
import AboutUs from '../components/about/AboutUs'
import Services from '../components/service/Services'
import Testimonials from '../components/review/Testimonials'
import Header from '../components/Header'
---

<Layout>
	<div class="min-h-screen">
		<Header client:load />
		<Hero client:load />
		<AboutUs client:load />
		<Services client:load />
		<Testimonials client:load />
	  </div>
</Layout>
