---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/home/Hero'
import AboutUs from '../components/about/AboutUs'
import Services from '../components/service/Services'
import Testimonials from '../components/review/Testimonials'
import Gallery from '../components/gallery/Gallery'
import Contact from '../components/contact/Contact'
import Header from '../components/Header'
import Footer from '../components/Footer'
---

<Layout>
	<div class="min-h-screen">
		<Header client:load />
		<Hero client:load />
		<AboutUs client:load />
		<Services client:load />
		<Gallery client:load/>
		<Testimonials client:load />
		<Contact client:load/>
		<Footer client:load/>
	  </div>
</Layout>
