---
import Layout from '../../layouts/Layout.astro';
import PrivacyPolicy from '../../components/PrivacyPolicy'
---

<Layout>
    <div class="min-h-screen">
        <PrivacyPolicy client:load/>
    </div>
</Layout>